name: Build and Run

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: build
      run: g++ -Wall -Wextra --coverage -o testchecker *.cpp
      
    - name: run
      run: ./testchecker
    
    - name: coverage report
      run: gcov -r anagram.cpp
